In [1]:
pip install folium

Requirement already satisfied: folium in c:\users\danio\anaconda3\lib\site-packages (0.12.1.post1)
Requirement already satisfied: jinja2>=2.9 in c:\users\danio\anaconda3\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: numpy in c:\users\danio\anaconda3\lib\site-packages (from folium) (1.19.2)
Requirement already satisfied: branca>=0.3.0 in c:\users\danio\anaconda3\lib\site-packages (from folium) (0.4.2)
Requirement already satisfied: requests in c:\users\danio\anaconda3\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\danio\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\danio\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\danio\anaconda3\lib\site-packages (from requests->folium) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danio\anaconda3\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\danio\anaconda3\lib\site-packages (from requests->folium) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import folium
import pandas as pd
from folium.features import DivIcon

In [3]:
df = pd.read_excel('teamfs.xlsx',header=None,names=["team_name","latitude","longtitude","city",
                                                    "year_of_creation","year_of_defunct","standings"],skiprows=1)
df

,team_name,latitude,longtitude,city,year_of_creation,year_of_defunct,standings
0,Boston Celtics,42.358990,-71.058630,Boston,1946,still exist,8
1,New York Knicks,40.713051,-74.007233,New York,1946,still exist,5
2,Philadelphia Warriors,37.779026,-122.419906,San Francisco,1946,still exist(remaned to Golden State Warriors),4
3,Chicago Stads,41.875562,-87.624421,Chicago,1946,1950,2
4,Cleveland Rebels,41.499656,-81.693681,Cleveland,1946,1947,6
5,Detroit Falcons,42.331551,-83.046640,Detroit,1946,1947,10
6,Pittsburgh Ironmen,40.441694,-79.990086,Pittsburgh,1946,1947,11
7,Providence Steamrollers,41.823989,-71.412834,Providence,1946,1949,7
8,St.Louis Bombers,38.626426,-90.199585,St.Louis,1946,1950,3
9,Toronto Huskies,43.653482,-79.383935,Toronto,1946,1947,9
10,Washington Capitols,38.895037,-77.036543,Washington D.C.,1946,1951,1

In [4]:
df=df.astype({"team_name":str,"latitude":float,"longtitude":float,"city":str,"year_of_creation":str,"year_of_defunct":str,"standings":str})
df

,team_name,latitude,longtitude,city,year_of_creation,year_of_defunct,standings
0,Boston Celtics,42.358990,-71.058630,Boston,1946,still exist,8
1,New York Knicks,40.713051,-74.007233,New York,1946,still exist,5
2,Philadelphia Warriors,37.779026,-122.419906,San Francisco,1946,still exist(remaned to Golden State Warriors),4
3,Chicago Stads,41.875562,-87.624421,Chicago,1946,1950,2
4,Cleveland Rebels,41.499656,-81.693681,Cleveland,1946,1947,6
5,Detroit Falcons,42.331551,-83.046640,Detroit,1946,1947,10
6,Pittsburgh Ironmen,40.441694,-79.990086,Pittsburgh,1946,1947,11
7,Providence Steamrollers,41.823989,-71.412834,Providence,1946,1949,7
8,St.Louis Bombers,38.626426,-90.199585,St.Louis,1946,1950,3
9,Toronto Huskies,43.653482,-79.383935,Toronto,1946,1947,9
10,Washington Capitols,38.895037,-77.036543,Washington D.C.,1946,1951,1

In [5]:
m = folium.Map(location=[37.090240,-90.712891],zoom_start=4)

In [6]:
t=[]
for i in range(0,len(df.index),1):
    t.append(df.at[i,"standings"])
t

['8', '5', '4', '2', '6', '10', '11', '7', '3', '9', '1']

In [7]:
def koncowki(x):
    k=[]
    for i in range(0,len(x),1):
        if(x[i]=="1"):
            k.append("st")
        elif(x[i]=="2"):
            k.append("nd")
        elif(x[i]=="3"):
            k.append("rd")
        else:
            k.append("th")
    return k

In [8]:
x=koncowki(t)
x

['th', 'th', 'th', 'nd', 'th', 'th', 'th', 'th', 'rd', 'th', 'st']

In [9]:
def kolory(x):
    if (x=="st"):
        return "orange"
    else:
        return "blue"

In [10]:
def ikona(x):
    if (x=='st'):
        return "trophy"
    else:
        return "map-marker"

In [11]:


for i in range(0,11,1):
    folium.Marker(location=[df.at[i,"latitude"],df.at[i,"longtitude"]],popup="Team: " 
                  + df.at[i,"team_name"]+",<br>"+"Rok year_of_creation: " + 
              df.at[i,"year_of_creation"]+",<br>"+"year_of_defunct: " + df.at[i,"year_of_defunct"]+",<br>"+
                  "standings: " + df.at[i,"standings"]+x[i], 
                  tooltip="City: " + df.at[i,"city"]+",<br>"+"Click to get more information",
                  icon=folium.Icon(icon=ikona(x[i]),color=kolory(x[i]),icon_color='#FFFFFF',prefix='fa')).add_to(m) 

div = folium.DivIcon(html=(
    '<svg height="105" width="230">'
    '<text x="10" y="30" font-size=25px font-style="italic" fill="black">Map of cities</text>'
    '<text x="10" y="55" font-size=25px font-style="italic" fill="black">with teams in</text>'
    '<text x="10" y="80" font-size=25px font-style="italic" fill="black">season 1946-1947</text>'
    '</svg>'
))
folium.Marker((36, -70), icon=div).add_to(m)
m.save("map1946.html")

In [12]:
df1 = pd.read_excel('teams20s.xlsx',header=None,names=["team_name","latitude","longtitude","city",
                                                    "year_of_creation","year_of_defunct","standings"],skiprows=1)
df1

,team_name,latitude,longtitude,city,year_of_creation,year_of_defunct,standings
0,Utah Jazz,40.768204,-111.901024,Salt Lake City,1974,still exist,1
1,Phoenix Suns,33.445827,-112.071213,Phoenix,1968,still exist,2
2,Philadelphia 76ers,39.901192,-75.171959,Philadelphia,1963,still exist,3
3,Brooklyn Nets,40.682611,-73.975279,New York,1967,still exist,4
4,Denver Nuggets,39.748684,-105.007544,Denver,1967,still exist,5
5,Los Angeles Clippers,34.043005,-118.267053,Los Angeles,1970,still exist,6
6,Milwaukee Bucks,43.045010,-87.917487,Milwaukee,1968,still exist,7
7,Dallas Mavericks,32.790459,-96.810326,Dallas,1980,still exist,8
8,Los Angeles Lakers,34.053691,-118.242766,Los Angeles,1947,still exist,9
9,Portland Trail Blazers,45.531579,-122.666834,Portland,1970,still exist,10
10,Atlanta Hawks,33.757370,-84.396385,Atlanta,1946,still exist,11
11,New York Knicks,40.750525,-73.993550,New York,1946,still exist,12
12,Miami Heat,25.781391,-80.187828,Miami,1988,still exist,13
13,Golden State Warriors,37.767893,-122.387407,San Fancisco,1946,still exist,14
14,Memphis Grizzlies,35.137797,-90.051624,Memphis,1995,still exist,15
15,Boston Celtics,42.366299,-71.062161,Boston,1946,still exist,16
16,Washington Wizards,38.898184,-77.020938,Washington D.C.,1961,still exist,17
17,Indiana Pacers,39.764042,-86.155472,Indianapolis,1967,still exist,18
18,Charlotte Hornets,35.225113,-80.839279,Charlotte,1988,still exist,19
19,San Antonio Spurs,29.427050,-98.437507,San Antonio,1967,still exist,20
20,Chicago Bulls,41.880683,-87.674185,Chicago,1966,still exist,21
21,New Orleans Pelicans,29.949009,-90.082100,New Orleans,2002,still exist,22
22,Sacramento Kings,38.580140,-121.499501,Sacramento,1945,still exist,23
23,Toronto Raptors,43.643430,-79.379059,Toronto,1995,still exist,24
24,Minnesota Timberwolves,44.979513,-93.276095,Minneapolis,1989,still exist,25
25,Cleveland Cavaliers,41.496613,-81.688133,Cleveland,1970,still exist,26
26,Oklahoma City Thunder,35.463421,-97.515068,Oklahoma City,2008,still exist,27
27,Orlando magic,28.539274,-81.384007,Orlando,1989,still exist,28
28,Detroit Pistons,42.341053,-83.055214,Detroit,1948,still exist,29
29,Houston Rockets,29.750747,-95.362231,Houston,1967,still exist,30

In [13]:
df1=df1.astype({"team_name":str,"latitude":float,"longtitude":float,"city":str,"year_of_creation":str,"year_of_defunct":str,"standings":str})
df1

,team_name,latitude,longtitude,city,year_of_creation,year_of_defunct,standings
0,Utah Jazz,40.768204,-111.901024,Salt Lake City,1974,still exist,1
1,Phoenix Suns,33.445827,-112.071213,Phoenix,1968,still exist,2
2,Philadelphia 76ers,39.901192,-75.171959,Philadelphia,1963,still exist,3
3,Brooklyn Nets,40.682611,-73.975279,New York,1967,still exist,4
4,Denver Nuggets,39.748684,-105.007544,Denver,1967,still exist,5
5,Los Angeles Clippers,34.043005,-118.267053,Los Angeles,1970,still exist,6
6,Milwaukee Bucks,43.045010,-87.917487,Milwaukee,1968,still exist,7
7,Dallas Mavericks,32.790459,-96.810326,Dallas,1980,still exist,8
8,Los Angeles Lakers,34.053691,-118.242766,Los Angeles,1947,still exist,9
9,Portland Trail Blazers,45.531579,-122.666834,Portland,1970,still exist,10
10,Atlanta Hawks,33.757370,-84.396385,Atlanta,1946,still exist,11
11,New York Knicks,40.750525,-73.993550,New York,1946,still exist,12
12,Miami Heat,25.781391,-80.187828,Miami,1988,still exist,13
13,Golden State Warriors,37.767893,-122.387407,San Fancisco,1946,still exist,14
14,Memphis Grizzlies,35.137797,-90.051624,Memphis,1995,still exist,15
15,Boston Celtics,42.366299,-71.062161,Boston,1946,still exist,16
16,Washington Wizards,38.898184,-77.020938,Washington D.C.,1961,still exist,17
17,Indiana Pacers,39.764042,-86.155472,Indianapolis,1967,still exist,18
18,Charlotte Hornets,35.225113,-80.839279,Charlotte,1988,still exist,19
19,San Antonio Spurs,29.427050,-98.437507,San Antonio,1967,still exist,20
20,Chicago Bulls,41.880683,-87.674185,Chicago,1966,still exist,21
21,New Orleans Pelicans,29.949009,-90.082100,New Orleans,2002,still exist,22
22,Sacramento Kings,38.580140,-121.499501,Sacramento,1945,still exist,23
23,Toronto Raptors,43.643430,-79.379059,Toronto,1995,still exist,24
24,Minnesota Timberwolves,44.979513,-93.276095,Minneapolis,1989,still exist,25
25,Cleveland Cavaliers,41.496613,-81.688133,Cleveland,1970,still exist,26
26,Oklahoma City Thunder,35.463421,-97.515068,Oklahoma City,2008,still exist,27
27,Orlando magic,28.539274,-81.384007,Orlando,1989,still exist,28
28,Detroit Pistons,42.341053,-83.055214,Detroit,1948,still exist,29
29,Houston Rockets,29.750747,-95.362231,Houston,1967,still exist,30

In [14]:
t1=[]
for i in range(0,len(df1.index),1):
    t1.append(df1.at[i,"standings"])
t1

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30']

In [15]:
x1=koncowki(t1)
x1

['st',
 'nd',
 'rd',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th',
 'th']

In [16]:
m1 = folium.Map(location=[37.090240,-90.712891],zoom_start=4)

In [17]:
for i in range(0,30,1):
    folium.Marker(location=[df1.at[i,"latitude"],df1.at[i,"longtitude"]],popup="Team: " 
                  + df1.at[i,"team_name"]+",<br>"+"year of creation: " + 
              df1.at[i,"year_of_creation"]+",<br>"+"year of defunct: " + df1.at[i,"year_of_defunct"]+",<br>"+
                  "Standings: " + df1.at[i,"standings"]+x1[i], 
                  tooltip="City: " + df1.at[i,"city"]+",<br>"+"Click to get more information",
                  icon=folium.Icon(icon=ikona(x1[i]),color=kolory(x1[i]),icon_color='#FFFFFF',prefix='fa')).add_to(m1) 

div = folium.DivIcon(html=(
    '<svg height="105" width="230">'
    '<text x="10" y="30" font-size=25px font-style="italic" fill="black">Map with cities</text>'
    '<text x="10" y="55" font-size=25px font-style="italic" fill="black"> with teams in</text>'
    '<text x="10" y="80" font-size=25px font-style="italic" fill="black">season 2020-2021</text>'
    '</svg>'
))
folium.Marker((36, -70), icon=div).add_to(m1)
m1.save("map2020.html")